#set($xPath = "//system-file[contains(name, '.pdf')]")
#set($block = $_XPathTool.selectNodes($contentRoot, $xPath))

## We don't really need to sort here, since the table offers that feature.
##$_SortTool.addSortCriterion("last-modified-by", "", "text", "ascending", "")  
##$_SortTool.sort($block)

## --- SETTINGS --- ##

#set($datePattern = "MM/dd/yy") 
## MM/dd/yy causes sorting problems in the table.

#set ($oldYear = 13) 
## 20xx - What year is considered as old, for marking it in Red?

#set ($prevFolder = "")
## ---------------- ##

<style>
    thead th { 
        font-weight: bold;
        font-family: helvetica, sans-serif;
    }
    
    td th { 
        font-family: helvetica, sans-serif;
    }
    
    .hidden {
        display: none;
    }
    
    a, a:visited {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
</style>

<table id="table" class="tablesorter">
    <thead>
        <tr>
            <th>Parent Folder</th>
            <th>File</th>
            <th>Last Modified By</th>
    	    <th data-sorter="shortDate" data-date-format="mmddyyy">Last Modified</th>
            <th data-sorter="shortDate" data-date-format="mmddyyy">Last Published</th>
	    </tr>
    </thead>
    
    <tbody>

#foreach ($child in $block)
    ## -- Path --
    #set ($path = $child.getChild('path').value)
    #set ($site = $child.getChild('site').value)
    
    #set ($file = $_.locateFile($path, $site))
    
    ## -- Parent Folder --
    #set ($index = $path.lastIndexOf('/'))
    #set ($parentFolderName = $path.substring(0, $index))
    
    ## -- Cascade Link --
    #set ($link = $file.link)
    ## -- Name --
    #set ($name = $file.name)
    
    ## -- Last Modified By --
    #set ($lastModifiedBy = $file.lastModifiedBy)
    
    ## -- Last Modified --
    ## DATE COLOR RED - Color it red if older than $oldYear
    #set ($dateString = $_DateTool.format($datePattern, $file.lastModified))
    #set ($year = $dateString.split('/').get(2))
                
    #set ($Integer = 0)
    #set ($yearInt = $Integer.parseInt($year))
                
    #set ($color = "#fff")
    #if ($yearInt <= $oldYear)
        #set ($color = "#ff0000")
    #end
    
    <tr>
        ## -- Parent Folder --
        #if ($prevFolder.compareTo($parentFolderName) == 0)
            <td><span class="hidden">$parentFolderName</span></td>
        #else
            #set ($prevFolder = $parentFolderName)
            <td>$parentFolderName</td>
        #end
        
        ## -- Name + Path --
        <td><a href="${link}" target="_blank"> ${name}</a></td>
                
        ## -- Last Modified By --
        <td>${lastModifiedBy}</td>
        
        ## -- Last Published On --
        <td style="color: ${color}">${dateString}</td>
                
        ## -- Last Published --
        <td>$_DateTool.format($datePattern, $file.lastPublishedOn)</td>
    </tr>
#end
    </tbody>
</table>